body
{
    color:mediumblue;
    text-align: center;
    font-family:"Segoe UI"
 }

 #header
 {
     background: mediumorchid;
     box-shadow: mediumvioletred;
     margin: auto;
     font-weight: bold;
 }


    