body
{
    color:blue;
    text-align: center;
    font-family:"Segoe UI"
 }

 #header
 {
     background: mediumorchid;
     box-shadow: rgb(89, 21, 199);
     margin: auto;
     font-weight: bold;
 }


    